body{
    background-color: aqua;
    background-image: url(../assests/bg3.jpg);
    /* background-repeat: no-repeat; */
    background-size: cover;
    /* filter: blur(8px); */
  /* -webkit-filter: blur(8px); */
  /* opacity: 0.2; */

}

.login{
    text-align: center;
    padding: 80px;
   
   }
.LoginForm, .signupComp{
    text-align: center;
}

button a{
    color:white;
    text-decoration: none;
}  


.nav {
    background: #080000;
    border-radius: 4px;
    padding: 6px 5px;
    margin-right: 10px;
  }

.navL{
    padding: 13px;
}


.nav a{
    padding: 15px;
    text-decoration: none;
    color: grey;
}
  .nav a.active {
    color: #fff;
    /* background: #7600dc; */
    text-decoration: none;
  }
  .nav a.inactive {
    font-style: italic;
    text-decoration: none;
  }
  
.navbar-nav{
    /* margin-left: 900px; */
    text-decoration: none;


}

.navwrapper NavLink{
    text-decoration: none;
    color: grey;
    padding: 5px;
}

 .navlink {
    text-decoration: none;
    color: grey;
    padding: 5px;
}

.signup, .login{
    padding: 20px;
    text-decoration: none;
    color: black;
    font-size: 15px;
    position: absolute;
    top: 0px;
    right: 60px;
    
    }

    .signup{
        position: absolute;
    top: 0px;
    right: 150px;
    }
    
    .link{ 
      margin-left: 900px;
      font-weight: bold;
    }

    .nav-link{
        text-decoration: none;
        color:aqua ;
    }


    button.btn.btn-primary {
        position: absolute;
        bottom: 138px;
        left: 60px;
    }

    .thumbnail{
        width: 200px;
    }

    .Memberbook{
        display: flex;
    }

    .Memberbook div {
        margin: 20px;
    }

    .listItem{
        text-decoration: none;
        padding: 10px;
        color: #080000;
    }

    
.Radio {
    margin-right: 913px;
}

input#inlineRadio1 {
    margin-left: 4px;
}
/*     
.form-check.form-check-inline {
    padding-right: 31px;
} */

.issuebtn{
    padding: 10px;
    margin: 10px;
}

.form{
    padding: 60px;
}

.form label{
    font-weight: bold;
}